<html>
<head>
<link rel="stylesheet" type="text/css" href="..\css\web1.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<title>Reviews</title>
<body>
<body>
<div class="parent">
<div class="parent2">
<div class="one">
<a href="..\views\w1.html">
<img id="one" src="..\images\orian.jpg"></a>

</div>
<marquee class="one1">ORIAN Noida ranked 54th in the Engineering Category and 81st in the university category in the all India Ranking 2017 by NIRF, MHRD"</marquee>

<div class="form">
<form id="form">
<input type="text" placeholder="Search..." required>
<input type="button" value="Search"><br>
<style>
.fa {
  padding: 10px;
  font-size: 20px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
</style>
<a href="https://www.facebook.com/" class="fa fa-facebook"></a>
<a href="https://twitter.com/login" class="fa fa-twitter"></a>
<a href="https://plus.google.com/people" class="fa fa-google"></a>
<a href="https://in.linkedin.com/" class="fa fa-linkedin"></a>
</form>
</div>
</div>
<div class="two">
<ul class="list">
<li class="li" ><a href="..\views\w1.html"><font color="#C0C0C0">Home</font></a></li>
<li class="li"><a href="..\views\w2.htm"><font color="#C0C0C0">About us</font></a></li>
<li class="li"><a href="..\views\admission.html"><font color="#C0C0C0">Admission</font></a></li>
<li class="li"><a href="..\views\av.html"><font color="#C0C0C0">Reviews</font></a></li>
</ul> 
</div>
<div class="read">
<div class="rbox">
<img id="rimg" src="..\images\images (16).jpg">
<b class="name">Manisha Kataria</b>
<footer>(former student at ORIAN)</footer>
<p><b>location</b>: ORIAN has an excellent location surrounded by software companies , there is plenty of accommodation if you plan to live off campus, market , malls all nearby and coaching institutes for Gate , cat, gre etc. if you plan for higher education.
<br><b>Student crowd</b>: ORIAN has a neat crowd and you will get plenty of exposure .
<div class="demo"></div>
<button onclick="myFuction()" id="a1">read more.....</button>
</div>
</div><br>
<script>
function myFuction() {
    var x = document.getElementsByClassName("demo");
	a1.remove();
    x[0].innerHTML = "<b>Infrastructure</b>: ORIAN has a small campus . You will be in and out within no time. And constantly busy road right outside is no music for the ears. There was a ground earlier but that is also being converted to hostel I suppose. But people get used to it .<br><strong>Placements</strong>:This is the main factor which everyone wants.Everyone is like cut the bullshit man just tell me about the money .ORIAN is a good school and provides a decent placement . Big companies visit the campus with handsome salary packages along with mass recruiters as well.If you study well and maintain a good CGPA (which isn’t that hard) then you have nothing to worry about.";
}
</script>
<div class="read">
<div class="rbox">
<img id="rimg" src="..\images\download (12).jpg">
<b class="name">Sahil Goneka</b><br>
(former student at ORIAN)
<p>The infrastructure of the college is good. it is situated in the heart of NCR, the campus size is small when compared to other campus, but it provides a good facilities with in and outside the campus. Our faculty is so good they teach well, scoring in exams depends on how you listen the class. Placements are available students with good skills can easily crack the interviews.There are playgrounds in our college.the college is strict in terms of discipline. We enjoyed a lot during my college days
</p>
<div class="demo"></div>
<button id="a2" onclick="myFunction()">read more.....</button>
</div>
</div><br>
<script>
function myFunction() {
    var x = document.getElementsByClassName("demo");
	a2.remove();
    x[1].innerHTML = "Overall its a decent college with a lot of companies coming for On campus placements and it does have many successful alumni reaching great heights. Professors are mostly doctorate holders and seriously one would fine some really good faculty here. Campus is small but hostels are good. Also they have made use of available space well so overall campus seems nice when you actually look at it.I would personally prefer it over any IPU college or UPTU college or any other private college in NCR region.";
}
</script>
<div class="read">
<div class="rbox">
<img id="rimg" src="..\images\surrogates_ae7545db5de1e46105e3e084fd95e03f.jpg">
<b class="name">Vaibhav Jhanwar</b><br>(faculty at ORIAN)
<p>ORIAN is one of the top private Engineering colleges in NCR with excellent infrastructure for academics. It has well equipped classrooms, library and labs. Majority of the faculty members are well experienced and teach well but they do concetrate too much on your CGPA.It provides ample opportunities to the students to learn and grow , and esteemed companies like Amazon, Adobe, E&Y, SAP, Delloite, Ericssion, Infosys, cognizant, Wipro and many more come for recruitements. The college life is pretty good as we have a lot of clubs for gaining practical knowledge and the crowd is awesome. As far as affordability is concerned, it is not a thing to worry about. At last i would just like to say that ORIAN offers you the best and it is a brilliant place to grow.
</p>
<div class="demo"></div>
<button id="a3" onclick="myFuntion()">read more.....</button>
</div>
</div>
<script>
function myFuntion() {
    var x = document.getElementsByClassName("demo");
	a3.remove();
    x[2].innerHTML = "Every year some students bags placement at companies like amazon and internships in even google. ORIAN is actually at par with colleges like vit vellore, mit manipal and srm chennai. It’s just that ORIAN do not do advertisement like these colleges as ORIAN is not for profit college. ORIAN is much better college than any uptu, ipu and rtu college. It is comparable with lnmiit, thapar and other reputed colleges. ORIAN can be compared with some nits and can better in some terms but overall nits are better. While iits, bits are much better than ORIAN.";
}
</script>
</div>

</body>
</html>
